<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <%= render partial: "layouts/partials/head" %>
  </head>

  <body class="h-full">
    <%= render partial: "layouts/partials/flash" %>

    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
        <%= yield(:auth_header) if content_for?(:auth_header) %>
      </div>

      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
